body {
    background-color: #818cf8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f1f5f9' fill-opacity='0.26'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: effra, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.flex-container { /* flex container for all header / nav, add it into inner container in html */
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
}

.inner-container {
    padding: 0 1rem;
}

/* ********** Global Typography **********  */
h1 {
    font-size: 1.125rem;
    line-height: 3.75rem;
}

h2 {
    font-family: effra, sans-serif; /* adobe fonts*/
    font-weight: 700;
    font-style: normal;
}

/* ********** header **********  */
header {
    background-color: #f8fafc;
}

button {
    background-color: #f8fafc; /* remove button background*/
    border: none;
}

svg { /*hamburger*/
    width: 1.25rem;
}

header a {
    text-decoration: none;
    color: #475569;
    font-size: .875rem;
}

h1 a {
    color: #dc2626;
}

nav {
    position: absolute; /* no longer in layout, therefore not a flex item */
    /* forces nav to move down*/
    background-color: #f8fafc;
    width: 98vw;
    top: 3.75rem;
    left: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

/* special class to show nav (Do not add to html)*/
.show-nav {
    visibility: visible;
    opacity: 1;
    overflow: visible;
}


.menu li {
    line-height: 3.125rem; /* gives space between li's*/
}

.menu a { /* direct parent of submenu*/
    display: flex;
    justify-content: space-between; /* turns 3 main menu's into a flex container*/
    padding: 0 0.5rem;
}

.menu a:hover {
    background-color: #e3e8f0;
}

.menu svg {
    width: .625rem; /* change size of chevrons*/
}

.submenu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    max-height: 0; /* removes space where submenus where*/
}

.submenu li {
    border-bottom: .0625rem solid #ced5e1;
}

/* what do you hover over? --> First Selector
What do you want to change? --> Second Selector */

.menu li:hover > .submenu { /* when we hover over a menu this allows the submenus to be shown again*/
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: 14.0625rem; /* hover state has limitations, a better way to develop a dropdown is with js*/
}

ul.sub-menu > li a:hover,
ul.menu > li a:hover     {
    color: rgb(166, 71, 255);
}

ul.menu a:hover path {
    color: rgb(166, 71, 255);
}

@media screen and (min-width: 68.75rem) {
    .inner-container {
        padding: 0;
        width: 1000px;
        margin: 0 auto;
        box-shadow: 1;
    }

    .toggle-btn {
        display: none;
    }

    nav {
        visibility: visible;
        opacity: 1;
        overflow: visible;
        position: unset;
        width: unset;
    }

    .inner-container > a {
        order: 1;
    }

    ul.menu {
        display: flex;
    }

    ul.menu li {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        text-align: center;
        position: relative;
        white-space: nowrap;
        justify-content: space-between;
        padding: 0 1rem;
    }

    ul.sub-menu {
        padding: 0;
        position: absolute;
        background-color: #f8fafc;
        border-radius: 0 0 0.25rem 0.25rem ;
        top: 3.5rem;
        right: 20;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        z-index: 1; 
        transition: all 0.5s ease-in-out;
        width: 82%;
    }

    .sub-menu li {
        border-top: .0625rem solid #ced5e1;
        text-align: center;
        padding: 0;
    }

    ul.menu li:hover > ul {
        visibility: visible;
        opacity: 1;
        overflow: visible;
    }

    ul.menu li:focus-within > ul, 
    ul.menu li > ul:focus {
        visibility: visible; /* allows you to tab to all elements / accessibility */
        display: block;
        opacity: 1;
    }

    .inner-container h2 {
        text-align: center;
        padding: 2rem;
        color: white;
    }

}