body {
    background-color: #818cf8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f1f5f9' fill-opacity='0.26'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    font-family: effra, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.flex-container { /* flex container for all header / nav, add it into inner container in html */
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
}

.inner-container {
    padding: 0 1rem;
}

/* ********** Global Typography **********  */
h1 {
    font-size: 1.125rem;
    line-height: 3.75rem;
}

h2 {
    font-family: effra, sans-serif; /* adobe fonts*/
    font-weight: 700;
    font-style: normal;
}

/* ********** header **********  */
header {
    background-color: #f8fafc;
}

button {
    background-color: #f8fafc; /* remove button background*/
    border: none;
}

svg { /*hamburger*/
    width: 1.25rem;
}

header a {
    text-decoration: none;
    color: #475569;
    font-size: .875rem;
}

h1 a {
    color: #dc2626;
}

nav {
    flex: 1 0 100%; /* forces nav to move down*/
}

.menu li {
    line-height: 3.125rem;
}

.menu a {
    display: flex;
    justify-content: space-between; /* turns 3 main menu's into a flex container*/
    padding: 0 0.5rem;
}

.menu a:hover {
    background-color: #e3e8f0;
}

.menu svg {
    width: .625rem; /* change size of chevrons*/
}

.submenu {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    max-height: 0; /* removes space where submenus where*/
}

/* what do you hover over? --> First Selector
What do you want to change? --> Second Selector */

.menu li:hover > .submenu { /* when we hover over a menu this allows the submenus to be shown again*/
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: 14.0625rem; /* hover state has limitations, a better way to develop a dropdown is with js*/
}

@media screen and (min-width: 68.75rem) {
    .inner-container {
        padding: 0;
        width: 1000px;
        margin: 0 auto;
    }
}